.login{
  margin: 5px;
}

.container-fluid{
  padding: 0px;
}

#register{
  border: 5px solid white;
  border-radius: 50px;
  padding: 15px 45px 15px 45px;
}

#password, #email{
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

#stuff{
  height: 450px;
  background-color: 'white';
}

/*#thang{
  left: 50%;
  top: 50%;
  padding: 40%;
  transform: translate(-50%, -50%);
  position: fixed;
  text-align: center;
  background: green;
  height: 300px;
  width: 300px;
}*/



.boxes{
  height: 500px;
  background-image: url('https://c2.staticflickr.com/8/7378/27292006700_0e9716cffb_h.jpg');
  background-position: center;
  text-align: center;
}

.boxes2{
  height: 250px;
  background-image: url('https://c2.staticflickr.com/8/7378/27292006700_0e9716cffb_h.jpg');
  background-position: center;
  text-align: center;
}

.topItems{
  position: relative;
  margin: 0px auto;
}

img{
  width:100%;
}
